/* Page */
.register-page {
   display: flex;
    min-height: calc(100vh - 56px);
    width: 100%;
    background: #f4f7fb;
}

.register-left,
.register-right {
    flex: 1;
    min-width: 0;
    position: relative;
    overflow: hidden;
}

.register-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.register-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
    text-align:center;
}

.register-logo{
    width:90px;
    margin-bottom:20px;
}

.register-overlay h1{
    font-size:42px;
    font-weight:700;
    margin-bottom:15px;
}

.register-overlay p{
    max-width:450px;
    line-height:1.7;
    font-size:18px;
}

/* Right Side */
.register-right{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.register-card{
    width:100%;
    max-width:480px;
    background:#fff;
    border-radius:18px;
    padding:40px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.register-card h1{
    font-size:34px;
    font-weight:700;
    margin-bottom:5px;
}

.subtitle{
    color:#777;
    margin-bottom:30px;
}

.register-card label{
    font-weight:600;
    margin-bottom:8px;
}

.register-card .form-control{
    height:50px;
    border-radius:10px;
}

.input-group .btn{
    border-radius:10px;
}

/* Register Button */
.register-btn{
    width:100%;
    border:none;
    padding:14px;
    background:#0d6efd;
    color:#fff;
    border-radius:10px;
    font-size:17px;
    font-weight:600;
    margin-top:10px;
    transition:.3s;
}

.register-btn:hover{
    background:#0b5ed7;
}

/* Divider */

.divider{
    text-align:center;
    margin:25px 0;
    position:relative;
}

.divider::before{
    content:"";
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    height:1px;
    background:#ddd;
}

.divider span{
    background:#fff;
    position:relative;
    padding:0 15px;
    color:#777;
}

/* Google */

.google-btn{
    width:100%;
    height:50px;
    border:1px solid #ddd;
    background:#fff;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    font-weight:600;
    transition:.3s;
}

.google-btn:hover{
    background:#f8f8f8;
}

.google-btn img{
    width:22px;
}

/* Login */

.login-text{
    margin-top:25px;
    text-align:center;
}

.login-text a{
    text-decoration:none;
    margin-left:5px;
    font-weight:600;
}

/* Responsive */

@media(max-width:992px){

.register-page{
    flex-direction:column;
}

.register-left{
    width:100%;
    height:280px;
}

.register-banner{
    height:280px;
}

.register-right{
    width:100%;
    padding:25px;
}

.register-card{
    max-width:100%;
}

.register-overlay h1{
    font-size:30px;
}

}